<div class="card">
    <div class="card-header">
        <a>Productos</a>
        <button type="button" class="btn btn-primary">Nuevo Producto</button>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-primary">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-light">
                        <td scope="row">1</td>
                        <td>Clavo</td>
                        <td>10</td>
                        <td>
                            <a name="" id="" class="btn btn-primary" href="#" role="button">Nuevo</a>
                            <a> | </a>
                            <a name="" id="" class="btn btn-secondary" href="#" role="button">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
    <div class="card-footer text-muted">
        
    </div>
</div>